.footer {
    text-align: center;
    margin-bottom: 1.5rem;
}
.footer__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(148, 163, 184, 0.3);
    margin-bottom: 1.5rem;
}
.footer__content > img {
    width: 100px;
}
.footer__socials a:first-child {
    margin-right: 0.5rem;
}
.footer a svg {
    width: 15px;
}
.copyright {
    color: var(--primary-grey);
    font-weight: 500;
    font-size: 0.75rem;
}
/* md */
@media (min-width: 768px) {
    .footer__socials a:first-child {
        margin-right: 1.5rem;
    }
    .footer a svg {
        width: 25px;
    }
}
/* lg */
@media (min-width: 1024px) {
    .footer__content > img {
        width: 120px;
    }
    .copyright {
        font-size: 0.875rem;
    }
}

