.hero__section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3rem;
    margin-top: 4.5rem;
    position: relative;
}
.hero__content , .hero__image {
    flex-basis: 100%;
}
.hero__heading {
    color: var(--primary-white);
    font-weight: 600;
    font-size: 1.3rem;
    width: 22ch;
}
.hero__paragraph {
    color: var(--primary-grey);
    font-weight: 500;
    font-size: 0.625rem;
    margin-block: 1.5rem;
    width: 43ch;
}
.hero__cta {
    padding: 0.33rem 1rem;
    font-size: 0.625rem;
    margin-right: 0.75rem;
    font-weight: 500;
}
.hero__link {
    font-size: 0.625rem;
    color: var(--primary-white);
    font-weight: 500;
    text-decoration: underline;
    transition: color 0.3s ease;
}
.hero__link:hover {
    color: var(--grey-hover);
}
.hero__image img {
    border-left: 6px solid var(--primary-green);
}

@media (min-width: 375px) {
    .hero__heading {
        font-size: 1.6rem;
    }
}
/* xs */
@media (min-width: 475px) {
    .hero__heading {
        font-size: 1.7rem;
    }
    .hero__paragraph {
        font-size: 0.75rem;
    }
    .hero__cta {
        padding: 0.5rem 1.5rem;
        font-size: 0.75rem;
    }
    .hero__link {
        font-size: 0.75rem;
    }
}
/* md */
@media (min-width: 768px) {
    .hero__heading {
        font-size: 2.25rem;
    }
    .hero__paragraph {
        font-size: 0.875rem;
    }
    .hero__cta , .hero__link{
        font-size: 0.875rem;
    }
}
/* lg */
@media (min-width: 1024px) {
    .hero__section {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .hero__content , .hero__image {
        flex-basis: 50%;
    }
    .hero__heading {
        font-size: 2.5rem;
    }
}
/* xl */
@media (min-width: 1280px) {
    .hero__heading {
        font-size: 3rem;
    }
    .hero__paragraph ,.hero__cta , .hero__link {
        font-size: 1rem;
    }
}

